
.hashtags .highlighter{
  white-space: pre-wrap;
	color:transparent;
	overflow: hidden;
	position: absolute;
	padding-left:7px;
  padding-top:5px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:20x;
	line-height:20px;
}

.hashtags .theSelector{
  background-color: transparent;
	position: relative;
	direction: ltr;
	font-size:20px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	resize:none !important;
	-webkit-transition: height 0.2s;
	border: 1px solid #cccccc;
	padding: 4px 6px;
	vertical-align:middle;
	min-height:48px !important;
	line-height:20px;
}

.hashtags .hashtag{
  background-color: rgba(88, 144, 255, .15);
  border-bottom: 1px solid rgba(88, 144, 255, .3);
	font-size:20px;
	white-space: pre-wrap;
	word-break: break-word;
	line-height:20px;
}
